## .NET specific
bin/
obj/
*.db
*.db-shm
*.db-wal

## User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn

## Visual Studio cache/options
.vs/

## JetBrains Rider
.idea/
*.sln.iml

## Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## Coverage
coverage/
*.coverage
*.coveragexml

## Others
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
